.form{
    background-color: #FCEEEE;
    width: 40vw;
    height: 70vh;
    /* padding-top:2em; */
    border-radius: 12px;
}
::placeholder{
    color: #5C5656;
}
.inputstyle{
    display: block;
    /* border: solid #FD4C3A ; */
    padding:  10px;
    border-radius: 10px;
    margin:0.8em auto;
    width: 80%;
    outline: none;
}
.inputstyle:focus{
    outline: 1px solid #Fa4b0c;
}
.float > input{
    border:2px #FDFDFD solid;
    display: flex;
    /* background: #000; */
}
.label-form{ 
    color:black;
    /* background: #000; */
    width: 100%;
    padding-left: 4em;
}
#left{
    width: 20%;
}
#right{
    width: 50%;
}
