.container{
    background: #FA4B0C;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.logo_container{
    width: 50vw;
    background: #FA4B0C;
}
/* .logo {
    height: 70%;
    margin-top: 15px;
} */

#username {
    font-weight: bold;
    font-size: 20px;
    margin-left: -0.7rem;
}
#phone {
    font-weight: bold;
    font-size: 20px;
    margin-left: -0.7rem;
}

.name{
    display: flex;
    background: white;
    color: black;
    font-weight: bold;
    padding: 1.5em;
    width: 50%; 
    border-bottom-right-radius: 100%;
}
.sprout {
    color: #FA4B0C;
}


form h1 {
    color: black;
    font-size:2em;
    font-weight: bold;
}

.icon{
    padding: 5em;
}
.icon img{
    height:25em;
}

.para {
    margin-left:4em;
    margin-bottom:1.2em;
}

.logIn{
    text-decoration:none;
    color:#FA4B0C;
}

.logIn:hover{
    text-decoration: underline;
}

#reserved{
    color: rgba(0, 0, 0, 0.504);
    width: 10em;
    background: hotpink;
} 

.form_part{
    background: white;
    width: 50vw;
    /* padding: 4em 5em; */
}
.set{
    display: flex;
    flex-direction: column;
    /* background: #000; */
}
.set input{
    padding: 1em;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 40vw;
    background: rgba(241, 234, 234, 0.796);
}

.submit{
    padding: 8px 25px;
    margin: auto;
    margin-left: 100px;
    border-radius: 8px;
    margin-top: 15px;
    color: white;
    background-color: #FA4B0C;
}